/*------------------------------------------------------------------
[1.1. Variables]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Colors]
*/
$sm-white: #FFFFFF;
$sm-ghost: #FEFEFE;
$sm-light: #EDEDED;
$sm-gray-100: #f9fafc;
$sm-gray-200: #f8fafd;
$sm-gray-300: #e7eaf3;
$sm-gray-400: #bdc5d1;
$sm-gray-500: #97a4af;
$sm-gray-600: #8c98a4;
$sm-gray-700: #677788;
$sm-gray-900: #71869d;
$sm-gray: #21313c;
$sm-blue: #387DFD;
$sm-green: #0DAD0A;
$sm-green2: #188754;
$sm-orange: #F96138;
$sm-yellow: #FFC107;
$sm-dark: #132144;
$sm-dark-alt: #1E2022;
$sm-black: #000000;
$sm-success: #00c9a7;
$sm-warning: #f5ca99;
$sm-danger: #ed4c78;
$sm-iris: #5454D4;
$sm-oxford: #1D293F;